# A few of our favorite things in Pandas
![The hills are alive](https://media.giphy.com/media/ceLygpJHjm3te/giphy.gif)

### Loading stuff

Loading a library

In [2]:
import pandas as pd

Loading a csv with `pd.read_csv()`. Multiple options below are in comments:

In [3]:
dataframe = pd.read_csv(
    '../data/2016_census_data.csv',
    # dtype = {'column_name':'datatype'},
    # usecols = ['column_name1', 'column_name2'],
    # parse_dates =['datecolumn1', 'datecolumn2'], 
    # headers = ['headername1', 'headername2']
   
)

### Looking at stuff

Display columns via transpose `.T` or via `.columns`

In [4]:
dataframe.T

,0,1,2,3,4,5,6,7,8,9,...,4690,4691,4692,4693,4694,4695,4696,4697,4698,4699
geoid,34003001000,34003002100,34003002200,34003002300,34003003100,34003003200,34003003300,34003003401,34003003402,34003003500,...,42103950502,42103950601,42103950603,42103950605,42103950606,42103950701,42103950702,42103950801,42103950802,42103950900
name,"Census Tract 10, Bergen County, New Jersey","Census Tract 21, Bergen County, New Jersey","Census Tract 22, Bergen County, New Jersey","Census Tract 23, Bergen County, New Jersey","Census Tract 31, Bergen County, New Jersey","Census Tract 32, Bergen County, New Jersey","Census Tract 33, Bergen County, New Jersey","Census Tract 34.01, Bergen County, New Jersey","Census Tract 34.02, Bergen County, New Jersey","Census Tract 35, Bergen County, New Jersey",...,"Census Tract 9505.02, Pike County, Pennsylvania","Census Tract 9506.01, Pike County, Pennsylvania","Census Tract 9506.03, Pike County, Pennsylvania","Census Tract 9506.05, Pike County, Pennsylvania","Census Tract 9506.06, Pike County, Pennsylvania","Census Tract 9507.01, Pike County, Pennsylvania","Census Tract 9507.02, Pike County, Pennsylvania","Census Tract 9508.01, Pike County, Pennsylvania","Census Tract 9508.02, Pike County, Pennsylvania","Census Tract 9509, Pike County, Pennsylvania"
total_population,6767,1522,5389,5828,4946,5044,6638,2958,3827,4100,...,3132,1560,1093,6056,5647,4107,3119,4403,6004,4184
median_income,151641,114545,90647,112031,76906,69531,97957,122650,105776,52382,...,57875,68319,56250,83220,86250,61726,59239,55530,50724,49453
median_home_value,680000,2e+06,453800,610000,301900,322400,328100,385200,356100,340200,...,205300,269200,281400,207100,237300,155800,151100,120000,146700,146100
educational_attainment,3045,836,1791,2363,1588,1417,1737,941,1237,891,...,728,354,255,1048,1369,537,405,718,795,721
white_alone,5667,788,3481,3595,1803,1342,2437,1704,1937,886,...,2186,1404,1009,5487,4951,3665,2908,2777,3072,3888
black_alone,75,141,99,89,306,186,400,109,260,502,...,237,33,16,333,71,12,44,705,970,55
native,0,0,9,37,0,19,0,0,0,16,...,0,0,0,21,0,0,0,0,20,29
asian,759,444,1247,1627,1435,1882,2131,520,733,1160,...,120,11,0,0,156,67,60,53,44,22
native_hawaiian_pacific_islander,0,0,0,0,0,0,0,0,0,0,...,0,0,0,9,0,0,0,0,0,0
some_other_race_alone,0,0,36,0,13,6,0,0,4,0,...,31,0,0,11,12,0,0,0,0,0
two_or_more,132,27,19,32,24,64,148,36,122,59,...,75,53,16,0,20,26,19,97,11,9
hispanic_or_latino,134,122,504,448,1365,1564,1522,589,771,1493,...,483,59,52,195,437,337,88,771,1887,181

In [5]:
dataframe.columns

Index(['geoid', 'name', 'total_population', 'median_income',
       'median_home_value', 'educational_attainment', 'white_alone',
       'black_alone', 'native', 'asian', 'native_hawaiian_pacific_islander',
       'some_other_race_alone', 'two_or_more', 'hispanic_or_latino'],
      dtype='object')

Looking at the first few or last few lines can be done with `.head()` or `.tail()`.

In [6]:
dataframe.head()

,geoid,name,total_population,median_income,median_home_value,educational_attainment,white_alone,black_alone,native,asian,native_hawaiian_pacific_islander,some_other_race_alone,two_or_more,hispanic_or_latino
0,34003001000,"Census Tract 10, Bergen County, New Jersey",6767,151641.0,680000.0,3045.0,5667.0,75.0,0.0,759.0,0.0,0.0,132.0,134.0
1,34003002100,"Census Tract 21, Bergen County, New Jersey",1522,114545.0,2000001.0,836.0,788.0,141.0,0.0,444.0,0.0,0.0,27.0,122.0
2,34003002200,"Census Tract 22, Bergen County, New Jersey",5389,90647.0,453800.0,1791.0,3481.0,99.0,9.0,1247.0,0.0,36.0,19.0,504.0
3,34003002300,"Census Tract 23, Bergen County, New Jersey",5828,112031.0,610000.0,2363.0,3595.0,89.0,37.0,1627.0,0.0,0.0,32.0,448.0
4,34003003100,"Census Tract 31, Bergen County, New Jersey",4946,76906.0,301900.0,1588.0,1803.0,306.0,0.0,1435.0,0.0,13.0,24.0,1365.0

Here's how you change the order of your dataframe based on the values in a column using `.sort_values()`:

In [7]:
dataframe.sort_values(by = ['median_income'], ascending=False)

,geoid,name,total_population,median_income,median_home_value,educational_attainment,white_alone,black_alone,native,asian,native_hawaiian_pacific_islander,some_other_race_alone,two_or_more,hispanic_or_latino
4532,36119004700,"Census Tract 47, Westchester County, New York",3596,250001.0,2000001.0,1649.0,3234.0,51.0,0.0,132.0,0.0,0.0,52.0,127.0
4595,36119009900,"Census Tract 99, Westchester County, New York",3008,250001.0,2000001.0,1629.0,2305.0,3.0,0.0,327.0,0.0,0.0,67.0,306.0
358,34013020000,"Census Tract 200, Essex County, New Jersey",5826,250001.0,1534600.0,3182.0,4334.0,28.0,0.0,1099.0,0.0,9.0,128.0,228.0
359,34013020100,"Census Tract 201, Essex County, New Jersey",4593,250001.0,1418300.0,2713.0,3653.0,16.0,0.0,721.0,0.0,0.0,100.0,103.0
141,34003047300,"Census Tract 473, Bergen County, New Jersey",3138,250001.0,1033800.0,1472.0,2603.0,41.0,0.0,324.0,0.0,0.0,79.0,91.0
4540,36119005400,"Census Tract 54, Westchester County, New York",1593,250001.0,988300.0,839.0,1256.0,35.0,0.0,36.0,0.0,0.0,78.0,188.0
4596,36119010000,"Census Tract 100, Westchester County, New York",5387,250001.0,1438000.0,2956.0,4216.0,44.0,0.0,864.0,0.0,12.0,157.0,94.0
2925,36061002100,"Census Tract 21, New York County, New York",6488,250001.0,2000001.0,4168.0,4811.0,96.0,0.0,998.0,0.0,0.0,281.0,302.0
4594,36119009800,"Census Tract 98, Westchester County, New York",4535,250001.0,1309100.0,2558.0,3514.0,29.0,0.0,593.0,8.0,0.0,124.0,267.0
320,34013016200,"Census Tract 162, Essex County, New Jersey",3387,244375.0,707100.0,2029.0,2867.0,150.0,0.0,114.0,0.0,14.0,79.0,163.0
4578,36119008500,"Census Tract 85, Westchester County, New York",3258,241250.0,2000001.0,1715.0,2868.0,5.0,0.0,191.0,0.0,0.0,0.0,194.0
4640,36119013104,"Census Tract 131.04, Westchester County, New York",6066,237500.0,947400.0,3170.0,5214.0,98.0,47.0,439.0,0.0,0.0,34.0,234.0
3047,36061014200,"Census Tract 142, New York County, New York",4186,235083.0,2000001.0,2762.0,3877.0,11.0,0.0,130.0,0.0,32.0,68.0,68.0
3071,36061016001,"Census Tract 160.01, New York County, New York",3918,233529.0,2000001.0,2662.0,3215.0,12.0,0.0,307.0,0.0,0.0,115.0,269.0
4628,36119012304,"Census Tract 123.04, Westchester County, New York",4813,230357.0,1121500.0,2564.0,4330.0,45.0,0.0,185.0,0.0,8.0,96.0,149.0
2838,36059517705,"Census Tract 5177.05, Nassau County, New York",2793,229318.0,1918600.0,1382.0,2185.0,50.0,0.0,429.0,0.0,0.0,9.0,120.0
1404,34039036500,"Census Tract 365, Union County, New Jersey",5417,225074.0,877700.0,2819.0,4542.0,44.0,0.0,351.0,0.0,55.0,94.0,331.0
4136,36103110101,"Census Tract 1101.01, Suffolk County, New York",3696,223036.0,1373400.0,1783.0,3332.0,10.0,0.0,165.0,0.0,0.0,49.0,140.0
2638,36059301700,"Census Tract 3017, Nassau County, New York",2719,222083.0,1420000.0,1424.0,2414.0,0.0,0.0,190.0,0.0,0.0,47.0,68.0
4641,36119013201,"Census Tract 132.01, Westchester County, New York",4316,220855.0,810800.0,2126.0,3331.0,127.0,0.0,374.0,8.0,18.0,79.0,379.0
535,34017018301,"Census Tract 183.01, Hudson County, New Jersey",2375,218173.0,1078700.0,1720.0,1816.0,0.0,0.0,330.0,0.0,0.0,54.0,175.0
2837,36059517701,"Census Tract 5177.01, Nassau County, New York",8099,218125.0,1590400.0,3937.0,5840.0,163.0,0.0,1678.0,0.0,12.0,119.0,287.0
4597,36119010100,"Census Tract 101, Westchester County, New York",4754,217273.0,903800.0,2619.0,3651.0,81.0,0.0,731.0,0.0,0.0,171.0,120.0
536,34017018302,"Census Tract 183.02, Hudson County, New Jersey",3726,216300.0,836800.0,2835.0,2737.0,41.0,0.0,554.0,0.0,0.0,103.0,291.0
2771,36059412600,"Census Tract 4126, Nassau County, New York",3807,215313.0,891000.0,1823.0,3488.0,1.0,0.0,102.0,0.0,43.0,0.0,173.0
1873,36047002100,"Census Tract 21, Kings County, New York",4628,211071.0,1368600.0,2918.0,3410.0,151.0,0.0,389.0,0.0,0.0,357.0,321.0
2973,36061006900,"Census Tract 69, New York County, New York",2442,209167.0,1168600.0,1631.0,1900.0,49.0,0.0,237.0,0.0,20.0,74.0,162.0
4627,36119012303,"Census Tract 123.03, Westchester County, New York",4815,207656.0,928600.0,2415.0,4136.0,35.0,0.0,258.0,0.0,0.0,28.0,358.0
2939,36061003300,"Census Tract 33, New York County, New York",5030,207460.0,2000001.0,3196.0,3716.0,144.0,0.0,521.0,0.0,0.0,275.0,374.0
2845,36059518201,"Census Tract 5182.01, Nassau County, New York",4319,207250.0,1518100.0,2142.0,3677.0,64.0,0.0,337.0,0.0,10.0,20.0,211.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3548,36081038301,"Census Tract 383.01, Queens County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2990,36061008602,"Census Tract 86.02, New York County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2906,36061000100,"Census Tract 1, New York County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3359,36081009900,"Census Tract 99, Queens County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3190,36061031100,"Census Tract 311, New York County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1670,36005031900,"Census Tract 319, Bronx County, New York",654,-666666666.0,-666666666.0,53.0,428.0,51.0,0.0,31.0,0.0,0.0,6.0,138.0
3872,36081107202,"Census Tract 1072.02, Queens County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3193,36061031900,"Census Tract 319, New York County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
801,34025804700,"Census Tract 8047, Monmouth County, New Jersey",7,-666666666.0,-666666666.0,1.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3905,36081121100,"Census Tract 1211, Queens County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3423,36081017100,"Census Tract 171, Queens County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3928,36081138502,"Census Tract 1385.02, Queens County, New York",37,-666666666.0,-666666666.0,17.0,16.0,4.0,0.0,0.0,0.0,0.0,0.0,17.0
3952,36081156700,"Census Tract 1567, Queens County, New York",1382,-666666666.0,663500.0,218.0,324.0,255.0,0.0,500.0,0.0,0.0,10.0,293.0
2909,36061000500,"Census Tract 5, New York County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3960,36081990100,"Census Tract 9901, Queens County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2905,36059990400,"Census Tract 9904, Nassau County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3549,36081038302,"Census Tract 383.02, Queens County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2904,36059990302,"Census Tract 9903.02, Nassau County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2903,36059990301,"Census Tract 9903.01, Nassau County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2902,36059990200,"Census Tract 9902, Nassau County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2901,36059990100,"Census Tract 9901, Nassau County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2900,36059982100,"Census Tract 9821, Nassau County, New York",1433,-666666666.0,-666666666.0,32.0,742.0,219.0,3.0,136.0,0.0,0.0,127.0,206.0
2899,36059981100,"Census Tract 9811, Nassau County, New York",1233,-666666666.0,-666666666.0,17.0,717.0,220.0,0.0,66.0,0.0,0.0,81.0,149.0
2898,36059980100,"Census Tract 9801, Nassau County, New York",1083,-666666666.0,-666666666.0,0.0,718.0,101.0,0.0,100.0,0.0,6.0,40.0,118.0
3567,36081042600,"Census Tract 426, Queens County, New York",507,-666666666.0,-666666666.0,29.0,190.0,224.0,0.0,19.0,0.0,0.0,7.0,67.0
1994,36047017700,"Census Tract 177, Kings County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1992,36047017500,"Census Tract 175, Kings County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2533,36047096000,"Census Tract 960, Kings County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,36085015400,"Census Tract 154, Richmond County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1974,36047015400,"Census Tract 154, Kings County, New York",0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Doing things with columns

Selecting, creating and manipulating columns. 

Here's how you select them:

In [8]:
dataframe[['name', 'total_population']]

                                                   name  total_population
0            Census Tract 10, Bergen County, New Jersey              6767
1            Census Tract 21, Bergen County, New Jersey              1522
2            Census Tract 22, Bergen County, New Jersey              5389
3            Census Tract 23, Bergen County, New Jersey              5828
4            Census Tract 31, Bergen County, New Jersey              4946
5            Census Tract 32, Bergen County, New Jersey              5044
6            Census Tract 33, Bergen County, New Jersey              6638
7         Census Tract 34.01, Bergen County, New Jersey              2958
8         Census Tract 34.02, Bergen County, New Jersey              3827
9            Census Tract 35, Bergen County, New Jersey              4100
10        Census Tract 40.01, Bergen County, New Jersey              3372
11        Census Tract 40.02, Bergen County, New Jersey              4976
12           Census Tract 50, Bergen County, New Jersey              6238
13           Census Tract 61, Bergen County, New Jersey              7159
14        Census Tract 62.01, Bergen County, New Jersey              4416
15        Census Tract 62.02, Bergen County, New Jersey              5073
16           Census Tract 63, Bergen County, New Jersey              8013
17        Census Tract 70.01, Bergen County, New Jersey              3899
18        Census Tract 70.02, Bergen County, New Jersey              4751
19           Census Tract 80, Bergen County, New Jersey              8745
20           Census Tract 91, Bergen County, New Jersey              5007
21           Census Tract 92, Bergen County, New Jersey              3446
22          Census Tract 101, Bergen County, New Jersey              5864
23          Census Tract 102, Bergen County, New Jersey              4275
24          Census Tract 103, Bergen County, New Jersey              7649
25          Census Tract 111, Bergen County, New Jersey              4293
26          Census Tract 112, Bergen County, New Jersey              5077
27          Census Tract 113, Bergen County, New Jersey              4240
28          Census Tract 114, Bergen County, New Jersey              6525
29       Census Tract 120.01, Bergen County, New Jersey              5933
...                                                 ...               ...
4670  Census Tract 148.11, Westchester County, New York              5773
4671  Census Tract 149.01, Westchester County, New York              6524
4672  Census Tract 149.03, Westchester County, New York              4526
4673  Census Tract 149.07, Westchester County, New York              4255
4674  Census Tract 149.08, Westchester County, New York              2918
4675  Census Tract 149.09, Westchester County, New York              2907
4676     Census Tract 150, Westchester County, New York              5178
4677    Census Tract 9810, Westchester County, New York              1921
4678    Census Tract 9820, Westchester County, New York              1562
4679    Census Tract 9830, Westchester County, New York              1331
4680    Census Tract 9840, Westchester County, New York               288
4681    Census Tract 9850, Westchester County, New York              2485
4682    Census Tract 9501.02, Pike County, Pennsylvania              2383
4683    Census Tract 9501.03, Pike County, Pennsylvania              2336
4684    Census Tract 9501.04, Pike County, Pennsylvania              2311
4685    Census Tract 9502.01, Pike County, Pennsylvania              3470
4686    Census Tract 9502.02, Pike County, Pennsylvania              1562
4687    Census Tract 9503.01, Pike County, Pennsylvania              2494
4688    Census Tract 9503.02, Pike County, Pennsylvania               771
4689    Census Tract 9505.01, Pike County, Pennsylvania              1578
4690    Census Tract 9505.02, Pike County, Pennsylvania              3132
4691    Census Tract 9506.01, Pike County, Pennsylvania              1560
4692    Census Tract 9506.03, Pike County, Pennsylvania              1093
4693    Census Tract 9506.05, Pike County, Pennsylvania              6056
4694    Census Tract 9506.06, Pike County, Pennsylvania              5647
4695    Census Tract 9507.01, Pike County, Pennsylvania              4107
4696    Census Tract 9507.02, Pike County, Pennsylvania              3119
4697    Census Tract 9508.01, Pike County, Pennsylvania              4403
4698    Census Tract 9508.02, Pike County, Pennsylvania              6004
4699       Census Tract 9509, Pike County, Pennsylvania              4184

[4700 rows x 2 columns]

Format the data type of your column using `.astype()`:

In [10]:
dataframe['total_population'].astype(int)

0       6767
1       1522
2       5389
3       5828
4       4946
5       5044
6       6638
7       2958
8       3827
9       4100
10      3372
11      4976
12      6238
13      7159
14      4416
15      5073
16      8013
17      3899
18      4751
19      8745
20      5007
21      3446
22      5864
23      4275
24      7649
25      4293
26      5077
27      4240
28      6525
29      5933
        ...
4670    5773
4671    6524
4672    4526
4673    4255
4674    2918
4675    2907
4676    5178
4677    1921
4678    1562
4679    1331
4680     288
4681    2485
4682    2383
4683    2336
4684    2311
4685    3470
4686    1562
4687    2494
4688     771
4689    1578
4690    3132
4691    1560
4692    1093
4693    6056
4694    5647
4695    4107
4696    3119
4697    4403
4698    6004
4699    4184
Name: total_population, Length: 4700, dtype: int64

Create columns simply by naming them:

In [13]:
dataframe['new_column'] = '$' + dataframe['median_income'].astype(str)
dataframe.head()

,geoid,name,total_population,median_income,median_home_value,educational_attainment,white_alone,black_alone,native,asian,native_hawaiian_pacific_islander,some_other_race_alone,two_or_more,hispanic_or_latino,new_column
0,34003001000,"Census Tract 10, Bergen County, New Jersey",6767,151641.0,680000.0,3045.0,5667.0,75.0,0.0,759.0,0.0,0.0,132.0,134.0,$151641.0
1,34003002100,"Census Tract 21, Bergen County, New Jersey",1522,114545.0,2000001.0,836.0,788.0,141.0,0.0,444.0,0.0,0.0,27.0,122.0,$114545.0
2,34003002200,"Census Tract 22, Bergen County, New Jersey",5389,90647.0,453800.0,1791.0,3481.0,99.0,9.0,1247.0,0.0,36.0,19.0,504.0,$90647.0
3,34003002300,"Census Tract 23, Bergen County, New Jersey",5828,112031.0,610000.0,2363.0,3595.0,89.0,37.0,1627.0,0.0,0.0,32.0,448.0,$112031.0
4,34003003100,"Census Tract 31, Bergen County, New Jersey",4946,76906.0,301900.0,1588.0,1803.0,306.0,0.0,1435.0,0.0,13.0,24.0,1365.0,$76906.0

### Doing math for summaries

Different mathematical functions are below (and in comments)

In [23]:
dataframe['median_income'].describe()
#dataframe['median_income'].mean()
#dataframe['median_income'].median()
#dataframe['median_income'].sum()
#dataframe['median_income'].count()

count    4.700000e+03
mean    -1.269190e+07
std      9.138565e+07
min     -6.666667e+08
25%      4.652675e+04
50%      6.894450e+04
75%      9.595675e+04
max      2.500010e+05
Name: median_income, dtype: float64

Here's how you group data based on columns using `.groupby()` and do simple analyses of a third column within these groupings. Think of it as a simple pivot table:

In [29]:
dataframe.groupby(['white_alone','black_alone']).agg({'median_home_value':'mean'})

                         median_home_value
white_alone black_alone
0.0         0.0               -666666666.0
            2.0               -666666666.0
            8.0               -666666666.0
            11.0              -666666666.0
            18.0              -666666666.0
            54.0              -666666666.0
            302.0                 620000.0
            450.0                 355000.0
            471.0                 221500.0
            486.0                 390000.0
            879.0                 375400.0
            894.0                 290000.0
            950.0             -666666666.0
            984.0             -666666666.0
            1139.0                393000.0
            1188.0                471000.0
            1190.0                 75000.0
            1197.0                399000.0
            1204.0                384700.0
            1255.0                413800.0
            1259.0                342400.0
            1351.0                197200.0
            1427.0                403100.0
            1518.0                404900.0
            1552.0                340000.0
            1561.0                429400.0
            1602.0                371400.0
            1604.0                353000.0
            1609.0                329700.0
            1616.0                361700.0
...                                    ...
7271.0      201.0                 906500.0
7307.0      448.0                 320400.0
7358.0      0.0                   436000.0
7395.0      60.0                 1077500.0
7513.0      245.0                 988300.0
7555.0      0.0                   645700.0
7561.0      321.0                 303000.0
7742.0      254.0                 378400.0
7757.0      494.0                 252100.0
7842.0      1.0                   475100.0
7857.0      406.0                 539500.0
7867.0      27.0                  406100.0
7975.0      3.0                  1250000.0
8066.0      142.0                 700700.0
8179.0      311.0                 448400.0
8295.0      769.0                 500200.0
8346.0      3.0                   303900.0
8397.0      58.0                  233000.0
8483.0      10.0                  686400.0
8529.0      403.0                1084300.0
8718.0      400.0                 318700.0
9209.0      378.0                 541500.0
9545.0      204.0                 765300.0
9773.0      194.0                 477500.0
9877.0      214.0                 702200.0
10236.0     226.0                 708600.0
10427.0     715.0                 581800.0
11256.0     67.0                  353900.0
11821.0     598.0             -666666666.0
12390.0     335.0                 918600.0

[4639 rows x 1 columns]

In [31]:
dataframe.groupby(['white_alone','black_alone'])['median_income'].describe()

                         count         mean  std          min          25%  \
white_alone black_alone
0.0         0.0           53.0 -666666666.0  0.0 -666666666.0 -666666666.0
            2.0            1.0 -666666666.0  NaN -666666666.0 -666666666.0
            8.0            1.0 -666666666.0  NaN -666666666.0 -666666666.0
            11.0           1.0 -666666666.0  NaN -666666666.0 -666666666.0
            18.0           1.0 -666666666.0  NaN -666666666.0 -666666666.0
            54.0           1.0 -666666666.0  NaN -666666666.0 -666666666.0
            302.0          1.0      48401.0  NaN      48401.0      48401.0
            450.0          1.0      36813.0  NaN      36813.0      36813.0
            471.0          1.0      36423.0  NaN      36423.0      36423.0
            486.0          1.0      25341.0  NaN      25341.0      25341.0
            879.0          1.0      70577.0  NaN      70577.0      70577.0
            894.0          1.0      12191.0  NaN      12191.0      12191.0
            950.0          1.0      18409.0  NaN      18409.0      18409.0
            984.0          1.0      23023.0  NaN      23023.0      23023.0
            1139.0         1.0      60431.0  NaN      60431.0      60431.0
            1188.0         1.0      24953.0  NaN      24953.0      24953.0
            1190.0         1.0      16518.0  NaN      16518.0      16518.0
            1197.0         1.0      75238.0  NaN      75238.0      75238.0
            1204.0         1.0      59643.0  NaN      59643.0      59643.0
            1255.0         1.0      72546.0  NaN      72546.0      72546.0
            1259.0         1.0      28750.0  NaN      28750.0      28750.0
            1351.0         1.0      29167.0  NaN      29167.0      29167.0
            1427.0         1.0      65000.0  NaN      65000.0      65000.0
            1518.0         1.0      71750.0  NaN      71750.0      71750.0
            1552.0         1.0      30326.0  NaN      30326.0      30326.0
            1561.0         1.0      96146.0  NaN      96146.0      96146.0
            1602.0         1.0      32750.0  NaN      32750.0      32750.0
            1604.0         1.0      50952.0  NaN      50952.0      50952.0
            1609.0         1.0      79750.0  NaN      79750.0      79750.0
            1616.0         1.0      66848.0  NaN      66848.0      66848.0
...                        ...          ...  ...          ...          ...
7271.0      201.0          1.0     111441.0  NaN     111441.0     111441.0
7307.0      448.0          1.0      44382.0  NaN      44382.0      44382.0
7358.0      0.0            1.0     100724.0  NaN     100724.0     100724.0
7395.0      60.0           1.0     152320.0  NaN     152320.0     152320.0
7513.0      245.0          1.0     108184.0  NaN     108184.0     108184.0
7555.0      0.0            1.0      85828.0  NaN      85828.0      85828.0
7561.0      321.0          1.0      87092.0  NaN      87092.0      87092.0
7742.0      254.0          1.0     102708.0  NaN     102708.0     102708.0
7757.0      494.0          1.0      80750.0  NaN      80750.0      80750.0
7842.0      1.0            1.0      80567.0  NaN      80567.0      80567.0
7857.0      406.0          1.0     147344.0  NaN     147344.0     147344.0
7867.0      27.0           1.0      77031.0  NaN      77031.0      77031.0
7975.0      3.0            1.0     133594.0  NaN     133594.0     133594.0
8066.0      142.0          1.0     106056.0  NaN     106056.0     106056.0
8179.0      311.0          1.0      24420.0  NaN      24420.0      24420.0
8295.0      769.0          1.0     123864.0  NaN     123864.0     123864.0
8346.0      3.0            1.0      65258.0  NaN      65258.0      65258.0
8397.0      58.0           1.0      65467.0  NaN      65467.0      65467.0
8483.0      10.0           1.0      34432.0  NaN      34432.0      34432.0
8529.0      403.0          1.0     131770.0  NaN     131770.0     131770.0
8718.0      400.0          1.0      44957.0  NaN      44957.0      44957.0
9209.0      378.0          1.0      42793.0  NaN      42793.0      42793.0
9545.0      204.0          1.0     116105.0  NaN     116105.0     116105.0
9773.0      194.0          1.0     128125.0  NaN     128125.0     128125.0
9877.0      214.0          1.0     122090.0  NaN     122090.0     122090.0
10236.0     226.0          1.0     102165.0  NaN     102165.0     102165.0
10427.0     715.0          1.0      82026.0  NaN      82026.0      82026.0
11256.0     67.0           1.0      52979.0  NaN      52979.0      52979.0
11821.0     598.0          1.0      94000.0  NaN      94000.0      94000.0
12390.0     335.0          1.0     101554.0  NaN     101554.0     101554.0

                                 50%          75%          max
white_alone black_alone
0.0         0.0         -666666666.0 -666666666.0 -666666666.0
            2.0         -666666666.0 -666666666.0 -666666666.0
            8.0         -666666666.0 -666666666.0 -666666666.0
            11.0        -666666666.0 -666666666.0 -666666666.0
            18.0        -666666666.0 -666666666.0 -666666666.0
            54.0        -666666666.0 -666666666.0 -666666666.0
            302.0            48401.0      48401.0      48401.0
            450.0            36813.0      36813.0      36813.0
            471.0            36423.0      36423.0      36423.0
            486.0            25341.0      25341.0      25341.0
            879.0            70577.0      70577.0      70577.0
            894.0            12191.0      12191.0      12191.0
            950.0            18409.0      18409.0      18409.0
            984.0            23023.0      23023.0      23023.0
            1139.0           60431.0      60431.0      60431.0
            1188.0           24953.0      24953.0      24953.0
            1190.0           16518.0      16518.0      16518.0
            1197.0           75238.0      75238.0      75238.0
            1204.0           59643.0      59643.0      59643.0
            1255.0           72546.0      72546.0      72546.0
            1259.0           28750.0      28750.0      28750.0
            1351.0           29167.0      29167.0      29167.0
            1427.0           65000.0      65000.0      65000.0
            1518.0           71750.0      71750.0      71750.0
            1552.0           30326.0      30326.0      30326.0
            1561.0           96146.0      96146.0      96146.0
            1602.0           32750.0      32750.0      32750.0
            1604.0           50952.0      50952.0      50952.0
            1609.0           79750.0      79750.0      79750.0
            1616.0           66848.0      66848.0      66848.0
...                              ...          ...          ...
7271.0      201.0           111441.0     111441.0     111441.0
7307.0      448.0            44382.0      44382.0      44382.0
7358.0      0.0             100724.0     100724.0     100724.0
7395.0      60.0            152320.0     152320.0     152320.0
7513.0      245.0           108184.0     108184.0     108184.0
7555.0      0.0              85828.0      85828.0      85828.0
7561.0      321.0            87092.0      87092.0      87092.0
7742.0      254.0           102708.0     102708.0     102708.0
7757.0      494.0            80750.0      80750.0      80750.0
7842.0      1.0              80567.0      80567.0      80567.0
7857.0      406.0           147344.0     147344.0     147344.0
7867.0      27.0             77031.0      77031.0      77031.0
7975.0      3.0             133594.0     133594.0     133594.0
8066.0      142.0           106056.0     106056.0     106056.0
8179.0      311.0            24420.0      24420.0      24420.0
8295.0      769.0           123864.0     123864.0     123864.0
8346.0      3.0              65258.0      65258.0      65258.0
8397.0      58.0             65467.0      65467.0      65467.0
8483.0      10.0             34432.0      34432.0      34432.0
8529.0      403.0           131770.0     131770.0     131770.0
8718.0      400.0            44957.0      44957.0      44957.0
9209.0      378.0            42793.0      42793.0      42793.0
9545.0      204.0           116105.0     116105.0     116105.0
9773.0      194.0           128125.0     128125.0     128125.0
9877.0      214.0           122090.0     122090.0     122090.0
10236.0     226.0           102165.0     102165.0     102165.0
10427.0     715.0            82026.0      82026.0      82026.0
11256.0     67.0             52979.0      52979.0      52979.0
11821.0     598.0            94000.0      94000.0      94000.0
12390.0     335.0           101554.0     101554.0     101554.0

[4639 rows x 8 columns]

### Combining datasets

Here's how you concatenbate datasets:

In [14]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

Here's how you merge them:

In [18]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
   

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                         'C': ['C0', 'C1', 'C2', 'C3'],
                         'D': ['D0', 'D1', 'D2', 'D3']})


result = pd.merge(left, right, on='key', how='inner')

In [20]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [21]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [19]:
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3